// Mobile
$mediaWidthMobileMini: 320px;
$mediaWidthMobile: 520px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthdesktop: 1200px;
$mediaWidthdesktopHd: 1800px;
// texts
$text: "";