extends ../common/layout

block variables
	-var title = "Главная"

block content
	.hero__wrapper
		include ../common/header
		include ../includes/hero
	include ../includes/types
	include ../includes/services
	include ../includes/offer
	include ../includes/variables
	include ../includes/benefits
	include ../includes/cases
	include ../includes/steps
	include ../includes/tools

block scripts