@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('PFDinDisplayPro-Light.eot');
	src: local('PFDinDisplayPro-Light'),
			url('PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
			url('PFDinDisplayPro-Light.woff2') format('woff2'),
			url('PFDinDisplayPro-Light.woff') format('woff'),
			url('PFDinDisplayPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PF Agora Slab Pro Black';
	src: url('pfagoraslabpro-black.eot');
	src: local('pfagoraslabpro-black'),
			url('pfagoraslabpro-black.eot?#iefix') format('embedded-opentype'),
			url('pfagoraslabpro-black.woff2') format('woff2'),
			url('pfagoraslabpro-black.woff') format('woff'),
			url('pfagoraslabpro-black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}