section.offer
	.offer__container.container
		.offer__title-wrap
			h2.offer__title.title Бесплатный<br />дизайн проект
		form.offer__form
			h3.offer__form-title Оставьте<br />заявку
			.offer__form-description на бесплатный выезд замерщика на Ваш объект
			label.offer__form-lbl
				.offer__form-input-title Введите Ваше имя:
				input.offer__form-input(type="text" name="name" placeholder="Иван Иванов")
			label.offer__form-lbl
				.offer__form-input-title Ведите Ваш номер телефона:
				input.offer__form-input(type="text" name="phone" placeholder="+7 (___) ___-__-__")
			.offer__form-promise Мы перезвоним в течение 30 минут
			button.offer__form-button.cta(type="submit") Отправить заявку
