.logo {
	display: flex;
	align-items: center;
}

.logo__image {
	max-width: 80px;
	@include tablets {
		max-width: 65px;
	}
}

.logo__text {
	margin-left: 15px;
	color: #000000;
	font-family: 'PF DinDisplay Pro';
	font-weight: 300;
	font-size: 21px;

	@include tablets {
		font-size: 16px;
	}
}