.types {
	@include phones {
		margin-top: 180px;
	}
}

.types__list {
	display: flex;
	justify-content: center;
	margin-top: 80px;
	flex-wrap: wrap;
}

.types__item {
	margin-right: 20px;
	margin-bottom: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.types__item-image {
	max-width: 300px;
}

.types__item-text {
	position: relative;
	font-family: 'PF DinDisplay Pro';
	font-weight: 300;
	font-size: 21px;
	padding-left: 50px;
	height: 53Px;
	display: flex;
	align-items: center;
	background: linear-gradient(90deg, rgba(248,240,251,1) 0%, rgba(255,255,255,1) 100%);
	clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%);
	
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 53Px;
		width: 38Px;
		background: url(/assets/img/content/sep-01.webp);
	}
}